apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: desafio-k8s
type: Opaque
stringData:
  POSTGRES_USER: SEU_USUARIO
  POSTGRES_PASSWORD: SUA_SENHA
  PGRST_DB_URI: postgres://SEU_USUARIO:SUA_SENHA@postgres:5432/desafio_db